<div class="deep_pay_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <fieldset>
      <legend>Please Log In</legend>

      <div>
        <%= label_tag :name, 'Name:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>

      <div>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>

      <div>
        <%= submit_tag "Login" %> <%= link_to '<button class="btn btn-primary btn-lg" type="button">Sign in</button>'.html_safe, new_user_path %>
        <%# <%= link_to '<button class="btn btn-primary btn-lg" type="button">New Post</button>'.html_safe, product_path %>
      </div>
    </fieldset>
  <% end %>
</div>