<p id="notice"><%= notice %></p>

<p>
  <strong>商品名称:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>商品描述:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>图片url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>价格:</strong>
  <%= @product.price %>
</p>

<%= link_to '编辑', edit_product_path(@product) %> |
<%= link_to '返回', products_path %>
